<section class="main">
    <div id="tick_down"></div>
    <div class="page">
        <div class="main_text">
            <h1 class="small_title">Insomnia tips</h1>
            <h2 class="big_title">Looking Trought A Window</h2>
            <p class="done_accumsan">Donec accumsan,nulla ut volutpat porttitor,quam odio tempus felis,a luctus ex diam
                nec
                lectus.Vivamus semper
                sodales rutrum.
            </p>
        
        <a href="">
            <div class="go">
                <span class="bottom">Go</span>
            </div>
        </a>
        </div>
    </div>


    <div class="main_second">
        <h2 class="reasons_title">3 Reasons To Purchase</h2>
        <ul class="list_reasons">
            <li>
                <div class="ut_sed item1">
                    <h3 class="utsed_title">Ut sed metus</h3>
                    <p class="utsed_text">Lorem ipsum, dolor sit amet consectetur </p>
                </div>
            </li>
            <li>
                <div class="ut_sed item2">
                    <h3 class="utsed_title">Curabitur ac erat</h3>
                    <p class="utsed_text">Mauris mattis urna quis lorem molestie.</p>
                </div>
            </li>
            <li>
                <div class="ut_sed item3">
                    <h3 class="utsed_title">Morbi dictum </h3>
                    <p class="utsed_text">Aliquam in dolor et dolor tincidunt</p>
                </div>


            </li>
        </ul>

        <button class="btn_reasons"> <span class="btn_span">More reasons</span></button>
    </div>
</section>