.footer_content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 128px;
    background-color:$colorwhite;
    line-height: 30px;
    color:$colorblack;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;



}
.arrow {
    position:absolute;
    top: 0;
    transform: translate(-50% , -50%);
    width: 45px;
    height: 45px;
    background: url(../images/ico-arrow.svg) center no-repeat $colorwhite;
    border-radius: 22.5px;
}
.copy {
    padding-top: 15px;
}
.footer_text {
    padding-top: 5px;
    margin: 0;
}
.heart{
    text-align: center;
    color: #f26002;
}
 @media all and (min-width: 768px){
    .footer_content{
        background: $colornewfooter;
    }
    .footer_content{
        display:flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-left:30px;
    }
}

