.page {
  margin: 15px;
}

.small_title{
  font-size: 14px;
  color: #8ccbea;
  font-family: 'Roboto'
}

.big_title {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;

}
  
 .done_accumsan{
  font-family:'Roboto';
  font-size: 18px;
  color: #4a4a4a;
  line-height:30px ;
}
a {
  text-decoration: none;
  color:#f26002;
}

.go {
  border-radius: 22.5px;
  border: solid 2px #f26002;
  width: 76px;
  height: 45px;
  display:flex;
  justify-content: center;
  align-items: center;
}
// @media all (min-width: 768px) and (max-width: 1200px)
// .list_reasons {
//   display: grid;
//   grid-template-columns: 55px 1fr 55px;
// }
.main_second{

    background-color: #eff9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .reasons_title {
    width: 290px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color:#000000;
  }
  
  .list_reasons li {
    margin:0px;
    padding:0px;
    font-family: 'Roboto Slab', serif;
    list-style: none;
    text-align: center;
    width: 180px;
    margin-bottom: 45px;
    
  }
  .btn_reasons{
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: #f26002;
    margin-bottom: 60px;
    
  }
  .btn_span{
    width: 124px;
    height: 45px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: center;
    color:#ffffff;
  }
  

@media all and (min-width: 768px) and (max-width: 1200px){
.list_reasons {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
}
@media all and (min-width: 1200px){
  .list_reasons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 55px;

  }
  .go {
    width: 160px;
    height: 45px;
  }
 
  

}
  



  